<div class="container-app">
    <div class="container-app__title">
        <h2>Produtos Crud</h2>
    </div>
    <div class="container-app__searchBar">
        <input type="text" placeholder="Search" [(ngModel)]="search">
        <button type="button" (click)="loadProductList()" > Pesquisar </button>
    </div>
    <div class="container-app-createButton">
        <button (click)="openDialog()">Criar Produto</button>
    </div>
    <div class="container-app__productList">
        <div class="container-app__productList__item" *ngFor="let product of products; let i = index">
            <div class="container-app__productList__item__name">
                {{product.model }} {{product.brand }} {{product.color }}
            </div>
            <div class="container-app__productList__item__img">
                <img [src]="product.image" alt="">
            </div>
            <div class="container-app__productList__item__price">
                R$ {{product.price}}
            </div>
            <div class="container-app__productList__item__buttonBar">
                <button class="container-app__productList__item__buttonBar__editButton" (click)="openDialog(product)">
                </button>
                <button class="container-app__productList__item__buttonBar__deleteButton" (click)="deleteProduct(product)">
                </button>
            </div>
        </div>
    </div>
</div>